<!DOCTYPE html>
<html lang="ru">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">  
    <title>SI3000</title>
    <link rel="stylesheet" type="text/css" href="{% static 'iskratel/content/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'iskratel/content/iskratel.css' %}">
    <script src="{% static 'iskratel/scripts/jquery-2.2.0.js' %}"></script>
    <script src="{% static 'iskratel/scripts/nav2.2.js' %}"></script>
    <script src="{% static 'iskratel/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'iskratel/scripts/iskratel.js' %}"></script>
</head>
<body>
    {% block header %}
    {% endblock %}
    {% block jumbotron %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>