{% extends "iskratel/baseiskratel.html" %}
{% block header %}
<div class="header">
    <div class="container">
        <ul id="mytab" class="nav nav-tabs navbar-fixed-top" role="tablist">
            {% for tab in nametab %}
            <li role="presentation"><a href="#{{tab.nametab}}" role="tab" data-toggle="tab">{{tab.nametab}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block page %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <div class="container">
                <div class="tab-content">
                    {% for tab in nametab %}
                      <div role="tabpanel" id="{{tab.nametab}}" class="tab-pane">
                          <ul class="nav of nav-stacked" id="navigation">
                             {% for submenu in nametabsubmenu %}                    
                                 {% if submenu.nametabsubmenu_id == tab.id %}                            
                                    <li><a class="pane" href=#>{{submenu.namesub}}</a></li>
                                 {% endif %}
                             {% endfor %}
                          </ul>                     
                      </div>                
                    {% endfor %}

                </div>
            </div>
            <!-- end container-left -->
            <!-- </div>  -->
        </div>
        <div class="col-md-10">
            <div class="container">
                {%block content %}
                {%endblock %}
            </div>
            <!-- end container-right -->
        </div>
    </div> <!-- end class row -->
</div> <!-- end class jumbotron -->
{% endblock %}
{% block footer %}
<div class="footer">
    <div class="container"></div>
</div>
{% endblock %}