{% extends "iskratel/baseiskratel.html" %}
{% block header %}
    <div class="header">
        <div class="container">
            <ul id="mytab" class="nav nav-tabs navbar-fixed-top" role="tablist">
                <li role="presentation"><a href="#si3000_v6" role="tab" data-toggle="tab">SI3000 V6</a></li>
                <li role="presentation"><a href="#si3000_v5" role="tab" data-toggle="tab">SI3000 V5</a></li>
                <li role="presentation"><a href="#si3000_mn" role="tab" data-toggle="tab">SI3000 MN</a></li>
                <li ><a href="#utility" role="tab" data-toggle="tab">Утилиты</a></li>
            </ul>
        </div>
      </div>
{% endblock %}
{% block jumbotron %}
    <div class="jumbotron">
        <div class="row">
         <div class="col-md-2">
            <div class="container">
                    <div class="tab-content">
                        <div role="tabpanel" id="si3000_v6" class="tab-pane active">
                            <ul class="nav of nav-stacked" id="navigation1">
                                <li><a class="pane" href="CallerID/callerid.html">Дешифратор CallerID в протоколе MEGACO & H248</a></li>
                                <li><a class="pane" href="#">SI3000_v6</a></li>
                                <li><a class="pane" href="#">3</a>
                                    <div class="submenu">
                                        <ul class="nav of nav-stacked">
                                            <li><a class="pane" href="#">CCS</a></li>
                                            <li><a class="pane" href="#">CS</a></li>
                                            <li><a class="pane" href="#">MG</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" id="si3000_v5" class="tab-pane">
                            <ul class="nav of nav-stacked">
                                <li><a class="pane" href="callerid.html">Дешифратор CallerID в протоколе MEGACO & H248</a></li>
                                <li><a class="pane" href="#">SI3000_v5</a></li>
                                <li><a class="pane" href="#">3</a></li>
                            </ul>
                        </div>
                        <div role="tabpanel" id="si3000_mn" class="tab-pane">
                            <ul class="nav of nav-stacked" id="navigation">
                                {% include "iskratel/si3000_mn.html" %}
                                <!-- 
                                <li><a class="pane" href="#">MN_V5</a>
                                    <ul class="nav of nav-stacked">
                                        <li><a class="pane" href="#">Сбор информации с MNV5</a></li>
                                        <li><a class="pane" href="#">Bacula</a></li>
                                        <li><a class="pane" href="#">DNS</a></li>
                                    </ul>
                                </li>
                                <li><a class="pane" href="#">MN_6031</a>
                                    <ul class="nav of nav-stacked">
                                        <li><a class="pane" href="#">Сбор информации с MN6031</a></li>
                                        <li><a class="pane" href="#">Bacula</a></li>
                                        <li><a class="pane" href="#">DNS</a></li>
                                    </ul>
                                </li>
                                <li><a class="pane" href="#">MNS</a>
                                    <ul class="nav of nav-stacked">
                                        <li><a class="pane" href="#">Сбор информации с MNS</a></li>
                                        <li><a class="pane" href="#">Bacula</a></li>
                                        <li><a class="pane" href="#">SPAG</a></li>
                                        <li><a class="pane" href="#">FMS</a></li>
                                        <li><a class="pane" href="#">PQMP</a></li>
                                        <li><a class="pane" href="#">DNS</a></li>
                                        <li><a class="pane" href="#">NTP</a></li>
                                        <li><a class="pane" href="#">DHCP</a></li>
                                        <li><a class="pane" href="#">Миграция</a></li>
                                    </ul>
                                </li>
                            </ul>
                                    -->
                        </div> 
                        <div role="tabpanel" id="utility" class="tab-pane">
                            <ul class="nav of nav-stacked">
                                {% include "iskratel/utilitymenu.html" %}
                            </ul>
                        </div>                
                    </div>
                </div>
                <!-- end container-left -->
           <!-- </div>  -->
            </div>
            <div class="col-md-10">   
                <div class="container">                
                        {%block content %}
                        {%endblock %}  
                 </div>           
                <!-- end container-right -->
            </div>
        </div> <!-- end class row -->
    </div> <!-- end class jumbotron -->  
{% endblock %}
{% block footer %}
    <div class="footer">
        <div class="container"></div>
    </div>
{% endblock %}