{% extends "iskratel/iskratel.html" %}
{% block leftmenu %}
    <div role="tabpanel" id="utility" class="tab-pane">
       <ul class="nav of nav-stacked">
                                <li><a class="pane" href="callerid.html">Дешифратор CallerID в протоколе MEGACO & H248</a></li>
                                <li><a class="pane" href="#">2</a></li>
                                <li><a class="pane" href="#">3</a></li>
                                <li><a class="pane" href="#">4</a></li>
                                <li><a class="pane" href="#">5</a></li>
                                <li><a class="pane" href="#">6</a></li>
                                <li><a class="pane" href="#">7</a></li>
                                <li><a class="pane" href="#">8</a></li>
                                <li><a class="pane" href="#">9</a></li>
                                <li><a class="pane" href="#">10</a></li>
                                <li><a class="pane" href="#">11</a></li>
                                <li><a class="pane" href="#">12</a></li>
                                <li><a class="pane" href="#">13</a></li>
                                <li><a class="pane" href="#">14</a></li>
                                <li><a class="pane" href="#">15</a></li>
                                <li><a class="pane" href="#">16</a></li>
                                <li><a class="pane" href="#">17</a></li>
                                <li><a class="pane" href="#">18</a></li>
                                <li><a class="pane" href="#">19</a></li>
                                <li><a class="pane" href="#">20</a></li>
                                <li><a class="pane" href="#">21</a></li>
                                <li><a class="pane" href="#">22</a></li>
                                <li><a class="pane" href="#">23</a></li>
                                <li><a class="pane" href="#">24</a></li>
                                <li><a class="pane" href="#">25</a></li>
                            </ul>
    </div>
{% endblock %}