#calleridnavbar .navbar {
    position: relative;
    border-radius: 10px;
}
.navbar-fixed-top{
    z-index:0;
}
#calleridnavbar .container{
    background-color: #333;
     min-height: 0px;
}
#calleridnavbar .navbar-header {
    float: none;
}
#calleridnavbar .navbar-brand {
    font-weight: bold;
    float: none;
    text-align: center;
    
}
#buttonDecode {
    margin-top: 15px;
}